<div class="container">
  <div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
    <div class="card-body">
      <form novalidate (ngSubmit)="saveCourse()" [formGroup]="courseForm">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="courseNameId">Course Name</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="courseNameId" placeholder="Course Name (required)"
              formControlName="courseName" [ngClass]="{'is-invalid': displayMessage.courseName}" />
            <span class="invalid-feedback">
              {{displayMessage.courseName}}
            </span>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="courseCodeId">Course Code</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="courseCodeId" placeholder="Code (required)"
              formControlName="courseCode" [ngClass]="{'is-invalid': displayMessage.courseCode}" />
            <span class="invalid-feedback">
              {{displayMessage.courseCode}}
            </span>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="starRatingId">Star Rating (1-5)</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="starRatingId" placeholder="Rating (1-5)"
              formControlName="starRating" [ngClass]="{'is-invalid': displayMessage.starRating}" />
            <span class="invalid-feedback">
              {{displayMessage.starRating}}
            </span>
          </div>
        </div>
        <div formArrayName="tags">
          <div class="form-group row mb-2" *ngFor="let tag of tags.controls; let i=index">
            <label class="col-md-2 col-form-label" [attr.for]="i">Tag</label>
            <div class="col-md-8">
              <input type="text" class="form-control" [id]="i" type="text" placeholder="Tag" [formControlName]="i" />
            </div>
            <button class="col-md-1 btn btn-outline-warning btn-sm" type="button" title="Delete this search tag"
              (click)="deleteTag(i)">
              Delete Tag
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 mb-2">
            <button class="btn btn-outline-secondary btn-sm" type="button" title="Add a search tag" (click)="addTag()">
              Add Tag
            </button>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label for="descriptionId" class="col-md-2 col-form-label">Description</label>
          <div class="col-md-8">
            <textarea class="form-control" id="descriptionId" rows="3" placeholder="Description"
              formControlName="description" [ngClass]="{'is-invalid': displayMessage.description}"></textarea>
            <span class="invalid-feedback">
              {{displayMessage.description}}
            </span>
          </div>
        </div>
        <div class="form-group row mb-2">
          <div class="offset-md-2 col-md-4">
            <button class="btn btn-primary mr-3" type="submit"
              [title]="courseForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
              [disabled]="!courseForm.valid">Save</button>
            <button class="btn btn-outline-secondary mr-3" type="button" title="Cancel your edits"
              [routerLink]="['/courses']">Cancel</button>
            <button class="btn btn-outline-warning" type="button" title="Delete this Course"
              (click)="deleteCourse()">Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="alert alert-danger mt-4" *ngIf="errorMessage">
    {{errorMessage}}
  </div>
</div>