<div class="container">
  <div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">Filter by:</div>
        <div class="col-md-4">
          <input type="text" [(ngModel)]="listFilter" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h4>Filtered by: {{listFilter}}</h4>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table" *ngIf='courses && courses.length'>
          <thead>
            <tr>
              <th>
                <button class="btn btn-primary" (click)="toggleCourseImage()">
                  {{ showCourseImage ? 'Hide' : 'Show'}} Image
                </button>
              </th>
              <th>Course</th>
              <th>Code</th>
              <th>Available</th>
              <th>Price</th>
              <th>5 Star Rating</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of filteredCourses">
              <td><img [src]="course.imageUrl" [alt]="course.courseName" [style.borderRadius.px]="imageBorderRadius"
                  *ngIf="showCourseImage" />
              </td>
              <td><a [routerLink]="['/courses',course.id]">{{ course.courseName }}</a></td>
              <td>{{ course.courseCode | lowercase | convertToSpaces: '-' }}</td>
              <td>{{ course.releaseDate }}</td>
              <td>{{ course.price | currency: 'INR':'symbol':'1.2-2' }}</td>
              <td>
                <app-star [rating]="course.starRating" (ratingClicked)="onRatingClicked($event)"></app-star>
              </td>
              <td>
                <button class="btn btn-outline-primary btn-sm"
                  [routerLink]="['/courses',course.id,'edit']">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="alert alert-danger mt-4" *ngIf="errorMessage">
    {{errorMessage}}
  </div>
</div>